@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play";
  scroll-behavior: smooth;
  color-scheme: light;
}




.active,
.btn:hover {
  text-decoration: underline;
  text-decoration-color: rgb(148, 155, 155);
  outline-offset: 6px;

}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #000;
    transition: background-color 5000s ease-in-out 0s;
}
/* Customize the width of the scrollbar */
*::-webkit-scrollbar {
    width: 4px; /* Adjust the width as desired */
}

/* Style the scrollbar thumb */
*::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 4px; /* Rounded corners */
}

/* Style the scrollbar track */
*::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Color of the track */
}
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  position: relative;
}

.slider-text {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  flex-grow: 1;
}

.slider-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.slider-button:hover {
  background-color: #0056b3;
}


